/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .button.is-primary {
    color: #3da9fc;
    background-color: #fffffe;
    border: 1px solid #3da9fc;
 }
 .button.is-primary:hover {
    background-color: #3da9fc;
    color: #fffffe;
 }
.justify-content-center {
    width: 33.333333%;
    margin: auto;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
html {
    background-color: #fffffe;
}

a.content {
    color: #094067;
}

input.button.is-small {
    display: flex;
    margin: auto;
}
.button.is-light.login {
    background-color: #fffffe;
    color: #686868;
}
.button.is-light.login:hover {
    background-color: #f4fbff;
    color: #3da9fc;
}

 a{
    text-decoration: none !important;
 }
/* edit user info
    .is-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
} */